@model VEM.Model.Role

@{
    ViewBag.Title = "RoleCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            创建角色 <small>创建角色信息</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>@Html.MvcSiteMap().SiteMapPath()
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box  light-grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>创建角色
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("RoleCreate", "Privilege", FormMethod.Post, new { id = "RoleForm", @class = "form-vertical" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span id="errorText">错误信息</span>
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            填写完毕，你现在可以提交表单了!
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="control-group">
                            <label class="control-label">角色名称<span class="required">*</span></label>
                            <div class="controls">
                                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "span6 m-wrap" } })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">角色状态<span class="required">*</span></label>
                            <div class="controls">
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.IsEnable, true, new { @id = "radio1", @name = "rdolstState", @checked = "checked" })启用
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.IsEnable, false, new { @id = "radio0", @name = "rdolstState" })禁用
                                </label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn green">保存</button>
                            <button type="reset" class="btn">重置表单</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("返 回", "RoleIndex")
</div>
<script type="text/javascript" src="~/media/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/media/myjs/PageScript/RoleCreate.js"></script>




